node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.*
!.env.example

# TanStack Router generated route tree
src/routeTree.gen.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
